@charset "UTF-8";
img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
}

/*----------------------------------------- */
.header__logo {
  width: 150px;
  margin-left: 200px;
}

.header {
  align-items: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.ul__flex__item {
  display: flex;
}

li {
  list-style: none;
  margin: 0 0 0 20px;
  display: inline-block;
}

.header__問い合わせ {
  display: flex;
  margin-right: 220px;
}

.資料請求 {
  text-align: center;
  padding: 10px 20px;
  background: #e37ab0;
  color: white;
  border-radius: 20px;
  margin-right: 20px;
}

.新規登録 {
  text-align: center;
  padding: 10px 20px;
  background: #6F99E3;
  color: white;
  border-radius: 20px;
}

/*---------------------header-------------------- */
.main1 {
  padding: 0 220px;
  display: flex;
}

.ダウンロード {
  margin-bottom: 40px;
}

/*---------------------main1--------------------- */
span {
  padding: 20px 50px;
  background: #e37ab0;
  color: white;
  border-radius: 20px;
}

.main2 {
  display: flex;
  background-color: #fff7fb;
  font-weight: bold;
  padding: 70px 0;
}

/*---------------------main2--------------------- */
.main3 {
  padding: 70px 0;
}

h2 {
  text-align: center;
  font-size: 38px;
}

.trouble__wrap {
  justify-content: center;
  margin: auto;
  display: flex;
  font-weight: bold;
}

/*---------------------main3--------------------- */
.leam {
  padding: 70px 220px;
  background: #FFF7FB;
}

h2 {
  font-weight: bold;
}

.No {
  color: #E37AB0;
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-weight: bold;
  font-size: 32px;
}

.solution見出し {
  height: 76px;
  align-items: center;
  display: flex;
}

.leam01__wrap {
  display: flex;
}

.leam02__wrap {
  display: flex;
}

.leam03__wrap {
  display: flex;
}

/*---------------------leam--------------------- */
.機能__wrap {
  width: 100px;
  border: solid 1px #E37AB0;
  border-radius: 6px;
  padding: 10px 25px;
  margin: 10px;
}

.機能一覧__wrap {
  padding: 70px 0;
}

.機能__item {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

/*---------------------leam--------------------- */
.問い合わせ__wrap {
  padding: 70px 0;
  background-color: #E37AB0;
}

.問い合わせ__tittle {
  color: white;
}

.問い合わせボタン {
  display: flex;
  justify-content: center;
}

.問い合わせ__新規登録 {
  color: white;
  text-align: center;
  width: 250px;
  background: #6F99E3;
  border-radius: 50px;
  margin-right: 25px;
}

.問い合わせ__ダウンロード {
  color: #E37AB0;
  text-align: center;
  width: 250px;
  background-color: white;
  border-radius: 50px;
}

/*---------------------問い合わせ--------------------- */
.導入企業__wrap {
  padding: 70px 0;
}

.導入企業__item {
  border: solid 2px #DDDDDD;
  border-radius: 30px;
}

.導入企業　img {
  width: 250px;
  border-radius: 30px;
}

.建築 {
  border: solid 1px #E37AB0;
}

.導入企業__sentence {
  font-weight: bold;
}
